.codelite
AutoKeyword/Debug*
SimpleTests/Debug*
Pointers/Debug*
Constants/Debug*
Foreach/Debug*
Structures/Debug*
Enums/Debug*
Classes/Debug*
Modularization/Debug*
Exceptions/Debug*
Templates/Debug*
Abstractions/Debug*
